ul.socialnet {
    height: 35px;
    list-style-type: none;
    margin: 0 auto;
    width: 99%;
    padding-top: 1em;
}

.twit {
    display: table-cell;
    margin: 5px;
    vertical-align: middle;
}

.face {
    display: table-cell;
    margin: 5px;
    padding-right: 25px;
    vertical-align: middle;
}

.plusone {
    display: table-cell;
    margin-left: 5px;
    padding-right: 17px;
    vertical-align: middle;
}

#centrecontent ul.socialnet img {
    border: none;
}
