body {
    background: #719AD9;
}

/******** sfumato o no ************/

#header {
   background: url("images/middleSfumablu.jpg") repeat-x scroll left top transparent;
}

#leftsidebar ul li.categories, 
#leftsidebar ul li.widget_nav_menu {
            background: transparent url(images/menuSfumablu.jpg) left top repeat-x;
         /* background: #C2E2ED;*/
}

#footer {
	background: transparent url(images/menuSfumablu.jpg) left bottom repeat-x;
}


#leftsidebar .current_page_item a, #leftsidebar .current_page_item ul li a {
	color: #1C2A45 !important;
	text-decoration:none;
	background-color: #DEEFF6;
}


/******** FINE sfumato o no ************/


h1, h2, h3, h4, h5, h6 {
	color: #1C2A45;
}

#topbar{
	background-color: #1C2A45;
	color: #F0F0F0;	
}
#postnavigation .navheader {
	color: #1C2A45; 
}
#leftsidebar h2 
{
	color: #1C2A45;
	border-bottom: 1px solid #1C2A45;
}
#leftsidebar h2 a{
	color: #fff;
	background:#1C2A45;
}

#leftsidebar ul ul li {
	border-bottom: 1px dotted #1C2A45;
}

#rightsidebar ul, #leftsidebar h2 a:hover, #leftsidebar ul ul ul li a:hover, #leftsidebar ul ul li a:hover, #rightsidebar h2 a:hover, #rightsidebar ul ul li a:hover, #rightsidebar ul ul ul li a:hover {
	background: #DEEFF6;
	color: #1C2A45;
}

#rightsidebar h2 {
	color: #1C2A45;
	border-bottom: 1px dotted #1C2A45;
}

#rightsidebar li.active a, #rightsidebar ul ul li.active a, #leftsidebar li.active a {
        background-color:#DEEFF6!important;
        color:#1C2A45!important;
}

#footer p {
	border-top: 1px solid #1C2A45;
}

.posttitle, .pagetitle {
	color: #1C2A45;
	border-bottom:1px dashed #1C2A45;
}

.postmeta .postauthor, .comment-author {
	color: #1C2A45;
}


/******** HOME PAGE ************/

#home-left {
    	border-right: 1px dotted #1C2A45;
}

#sotto-hp .col-com2 h2 a {
    color: #1C2A45;
}
.col-com2 {
    background-color:#DEEFF6;
}

#centrecontent table th {
	background-color: #C2E2ED;
	border-bottom: 1px solid #1C2A45;
	color: #1C2A45;
}

#centrecontent table td {
	background-color: #DEEFF6;
	border-bottom:1px solid #CDCDCD;
}
.riassunto{
	background-color: #DEEFF6;
}


#centrecontent .gacounter li.alternato {
	background-color: #DEEFF6;
}

