body {
    background: #DE600C;
}

/******** sfumato o no ************/

#header {
    background: url("images/middleSfumarosso.jpg") repeat-x scroll left top transparent;
}

#leftsidebar ul li.categories, 
#leftsidebar ul li.widget_nav_menu {
    background: transparent url(images/menuSfumarosso.jpg) left top repeat-x;
      /*background: #FFDFE4;*/
}

#footer {
	background: transparent url(images/menuSfumarosso.jpg) left bottom repeat-x;
}

#leftsidebar .current_page_item a, #leftsidebar .current_page_item ul li a {
	color: #7F0000 !important;
	text-decoration:none;
	background-color: #FFF2C1;
}

/******** FINE sfumato o no ************/




h1, h2, h3, h4, h5, h6 {
	color: #7F0000;
}

#topbar{
	background-color: #7F0000;
	color: #F0F0F0;	
}
#postnavigation .navheader {
	color: #7F0000; 
}
#leftsidebar h2 
{
	color: #7F0000;
	border-bottom: 1px solid #7F0000;
}
#leftsidebar h2 a{
	color: #fff;
	background:#7F0000;
}
#leftsidebar h2 a:hover {
	/*background: #F0F0F0;
	color: #3A291F;*/
	background: #FFF2C1;
	color: #7F0000;
}
#leftsidebar ul ul li {
	border-bottom: 1px dotted #7F0000;
}
#leftsidebar ul ul li a:hover 
{
	background: #FFF2C1;
	color: #7F0000;
}
#leftsidebar ul ul ul li a:hover {
	/*background-color: #ECF5FF;
	color: #000;*/
	background: #FFF2C1;
	color: #7F0000;
}

#rightsidebar h2 {
	color: #7F0000;
	border-bottom: 1px dotted #7F0000;
}

#rightsidebar h2 a:hover {
	/*background-color: #ECF5FF;
	color: #000;*/
	background: #FFF2C1;
	color: #7F0000;
}
#rightsidebar ul {
	background-color: #FFF2C1;
	border: 1px solid #fff; 
}
#rightsidebar ul ul li a:hover {
	background: #FFF2C1;
	color: #7F0000;
}

#rightsidebar ul ul ul li a:hover {
	background: #FFF2C1;
	color: #7F0000;
}
#rightsidebar li.active a, #rightsidebar ul ul li.active a {
        background-color:#FFF2C1!important;
        color:#7F0000!important;
}
#leftsidebar li.active a {
       background-color:#FFF2C1!important;
       color:#7F0000!important;
}

#footer p {
	border-top: 1px solid #7F0000;
}

.posttitle, .pagetitle {
	color: #7F0000;
	border-bottom:1px dashed #7F0000;
}

.postmeta .postauthor, .comment-author {
	color: #7F0000;
}


/******** HOME PAGE ************/

#home-left {
    	border-right: 1px dotted #7F0000;
}

#sotto-hp .col-com2 h2 a {
    color: #7F0000;
}
.col-com2 {
    background-color:#FFF2C1;
}

#centrecontent table th {
	background-color: #FFDFE4;
	border-bottom: 1px solid #7F0000;
	color: #7F0000;
}

#centrecontent table td {
	background-color: #FFF2C1;
	border-bottom:1px solid #CDCDCD;
}
.riassunto{
	background-color: #FFF2C1;
}

#footbar{
	background-color: #7F0000;
	color: #F0F0F0;	
}