body {
    background: #9D7755;
}

/******** sfumato o no ************/

#header {
       background: url("images/middleSfumamarrone.jpg") repeat-x scroll left top transparent;
}

#leftsidebar ul li.categories, 
#leftsidebar ul li.widget_nav_menu {
        background: transparent url(images/menuSfumamarrone.jpg) left top repeat-x;
      /*background: #EEE9E5;*/
}

#footer {
	background: transparent url(images/menuSfumamarrone.jpg) left bottom repeat-x;
}

#leftsidebar .current_page_item a, #leftsidebar .current_page_item ul li a {
	color: #641A00 !important;
	text-decoration:none;
	background-color: #F8F5F3;
}

/******** FINE sfumato o no ************/




h1, h2, h3, h4, h5, h6 {
	color: #641A00;
}

#topbar{
	background-color: #641A00;
	color: #F0F0F0;	
}
#postnavigation .navheader {
	color: #641A00; 
}
#leftsidebar h2 
{
	color: #641A00;
	border-bottom: 1px solid #641A00;
}
#leftsidebar h2 a{
	color: #fff;
	background:#641A00;
}
#leftsidebar h2 a:hover {
	/*background: #F0F0F0;
	color: #3A291F;*/
	background: #F8F5F3;
	color: #641A00;
}
#leftsidebar ul ul li {
	border-bottom: 1px dotted #641A00;
}
#leftsidebar ul ul li a:hover 
{
	background: #F8F5F3;
	color: #641A00;
}
#leftsidebar ul ul ul li a:hover {
	/*background-color: #ECF5FF;
	color: #000;*/
	background: #F8F5F3;
	color: #641A00;
}

#rightsidebar h2 {
	color: #641A00;
	border-bottom: 1px dotted #641A00;
}

#rightsidebar h2 a:hover {
	/*background-color: #ECF5FF;
	color: #000;*/
	background: #F8F5F3;
	color: #641A00;
}
#rightsidebar ul {
	background-color: #F8F5F3;
	border: 1px solid #fff; 
}
#rightsidebar ul ul li a:hover {
	background: #F8F5F3;
	color: #641A00;
}

#rightsidebar ul ul ul li a:hover {
	background: #F8F5F3;
	color: #641A00;
}
#rightsidebar li.active a, #rightsidebar ul ul li.active a {
        background-color:#F8F5F3!important;
        color:#641A00!important;
}
#leftsidebar li.active a {
       background-color:#F8F5F3!important;
       color:#641A00!important;
}

#footer p {
	border-top: 1px solid #641A00;
}

.posttitle, .pagetitle {
	color: #641A00;
	border-bottom:1px dashed #641A00;
}

.postmeta .postauthor, .comment-author {
	color: #641A00;
}


/******** HOME PAGE ************/

#home-left {
    	border-right: 1px dotted #641A00;
}

#sotto-hp .col-com2 h2 a {
    color: #641A00;
}
.col-com2 {
    background-color:#F8F5F3;
}

#centrecontent table th {
	background-color: #EEE9E5;
	border-bottom: 1px solid #641A00;
	color: #641A00;
}

#centrecontent table td {
	background-color: #F8F5F3;
	border-bottom:1px solid #CDCDCD;
}
.riassunto{
	background-color: #F8F5F3;
}

#footbar{
	background-color: #641A00;
	color: #F0F0F0;	
}
